:root{
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
}
*:focus{
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: var(--grey-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--blue-alt-color);
}
.page{
    background-color: #f1f5f9;
    min-height: 100vh;
}
/* Start Sidebar */
.sidebar{
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}
.sidebar > h3{
    margin-bottom: 50px;
}
.sidebar > h3::before,
.sidebar > h3::after{
    content: "";
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.sidebar > h3::before{
    width: 80px;
    height: 2px;
    bottom: -20px;
}
.sidebar > h3::after{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    bottom: -29px;
    border: 4px solid white;
}
.sidebar ul li a{
    margin-bottom: 5px;
    transition: 0.3s;
}
.sidebar ul li a:hover,
.sidebar ul li a.active{
    background-color: #f6f6f6;
}
.sidebar ul li a span{
    font-size: 14px;
    margin-left: 10px;
}
@media (max-width: 767px) {
    .sidebar{
        width: 58px;
        padding: 10px;
    }
    .sidebar > h3{
        font-size: 13px;
        margin-bottom: 15px;
    }
    .sidebar > h3::before,
    .sidebar > h3::after{
        display: none;
    }
}
/*Ù End Sidebar */
/* Start Content */
.content{
    overflow: hidden;
}
/* Start Head */
.head .search::before{
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}
.head .search input{
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
}
.head .search input:focus{
    width: 200px;
}
.head .search input:focus::placeholder{
    opacity: 0;
}
.head .icons .notification::before{
    content: "";
    position: absolute;
    background-color: var(--red-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -5px;
    right: -5px;
}
.head .icons img{
    width: 32px;
    height: 32px;
    margin-left: 15px;
    border-radius: 50%;
}
/* End Head */
.page h1{
    margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after{
    content: "";
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-radius: 6px;
}
.page h1::before{
    content: "";
    background-color: white;
    width: 120px;
}
.page h1::after{
    content: "";
    background-color: black;
    width: 40px;
}
/* Start Wrapper */
.wrapper{
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-bottom: 20px;

}
@media (max-width: 767px) {
    .wrapper{
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
/* Start Welcome Widget */
.welcome{
    overflow: hidden;
}
.welcome .intro img{
    width: 200px;
    margin-bottom: -10px;
}
.welcome .avatar{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}
.welcome .body{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.welcome .body > div{
    flex: 1;
}
.welcome .visit{
    margin: 0 15px 15px auto;
    transition: 0.3s;
}
.welcome .visit:hover{
    background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
    .welcome .intro{
        padding-bottom: 30px;
    }
    .welcome .avatar{
        margin-left: 0;
    }
    .welcome .body > div:not(:last-child){
        margin-bottom: 20px;
    } 
}
/* End Welcome Widget */
/* Start Quick Draft Widget */
.quick-drat textarea{
    resize: none;
    min-height: 180px;
}
.quick-drat .save{
    margin-left: auto;
    transition: 0.3s;
    cursor: pointer;
}
.quick-drat .save:hover{
    background-color: var(--blue-alt-color);
}
/* End Quick Draft Widget */
/* Start Targets Widget */
.targets .target-row .icon{
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.targets .target-row .details{
    flex: 1;
}
.targets .target-row .details .progress{
    height: 4px;
}
.targets .target-row .details .progress > span{
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.targets .target-row .details .progress > span span{
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
}
.targets .target-row .details .progress > span span::after{
    content: "";
    position: absolute;
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.targets .target-row .details .progress > .blue span::after{
    border-top-color: var(--blue-color);
}
.targets .target-row .details .progress > .orange span::after{
    border-top-color: var(--orange-color);
}
.targets .target-row .details .progress > .green span::after{
    border-top-color: var(--green-color);
}
.blue .icon,
.blue .progress{
    background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .progress{
    background-color: rgb(245 158 11 / 20%);
}
.green .icon,
.green .progress{
    background-color: rgb(34 197 94 / 20%);
}
/* End Targets Widget */
/* Start Tickets Widget  */
.tickets .box{
    width: calc(50% - 10px);
}
@media (max-width: 767px) {
    .tickets .box{
        width: 100%;
    }
}
/* End Tickets Widget  */
/* Start Latest News Widget */
.latest-news .news-row:not(:last-of-type){
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: 1px solid #eee;
}
.latest-news .news-row img{
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;
}
.latest-news .news-row .info{
    flex-grow: 1;
}
@media (max-width: 767px) {
    .latest-news .news-row .label{
        margin: 10px auto;
        width: fit-content;
    }
}
/* End Latest News Widget */
/* Start Tasks Widget */
.tasks .task-row:not(:last-of-type){
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.tasks .task-row .info{
    flex-grow: 1;
}
.tasks .done{
    opacity: 0.3;
}
.tasks .done .info h3,
.tasks .done .info p{
    text-decoration: line-through;
}
.tasks .task-row .delete{
    transition: 0.3s;
    cursor: pointer;
}
.tasks .task-row .delete:hover{
    color: var(--red-color);
}
/* End Tasks Widget */

/* Start Top Search Widget */
/* Just Done With Our CSS FrameWork Classes */
/* End Top Search Widget */

/* Start Latest Uploads Widget */
.latest-uploads ul li:not(:last-child){
    border-bottom: 1px solid #eee;
}
.latest-uploads ul li img{
    width: 40px;
    height: 40px;
}
/* End Latest Uploads Widget */
/* Start Last Project */
.last-project ul::before{
    content: "";
    position: absolute;
    left: 9px;
    width: 4px;
    height: 100%;
    background-color: var(--blue-color);
}
.last-project ul li::before{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}
.last-project ul li.done::before{
    background-color: var(--blue-color);
}
.last-project ul li.current::before{
    animation: change-color 0.8s infinite alternate;
}
.last-project .launch-icon{
    position: absolute;
    width: 160px;
    right: 0;
    bottom: 0;
    opacity: 0.1;
}
/* End Last Project */
/* Start REminders Widget */
.reminders ul li .key{
    width: 15px;
    height: 15px;
}
.reminders ul li > .blue{
    border-left: 2px solid var(--blue-color);
}
.reminders ul li > .green{
    border-left: 2px solid var(--green-color);
}
.reminders ul li > .orange{
    border-left: 2px solid var(--orange-color);
}
.reminders ul li > .red{
    border-left: 2px solid var(--red-color);
}
/* End REminders Widget */
/* Start Latest Post Widget */
.latest-post .avatar{
    width: 48px;
    height: 48px;
}
.latest-post .post-content{
    text-transform: capitalize;
    line-height: 1.8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    min-height: 140px;
}
/* End Latest Post Widget */
/* Start Social Media Widget */
.social-media .box{
    padding-left: 70px;
}
.social-media .box i{
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    transition: 0.3s;
}
.social-media .box i:hover{
    transform: rotate(5deg);
}
.social-media .twitter{
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}
.social-media .twitter i,
.social-media .twitter a{
    background-color: #1da1f2;
}

.social-media .facebook{
    background-color: rgb(24 119 242 / 20%);
    color: #1877f2;
}
.social-media .facebook i,
.social-media .facebook a{
    background-color: #1877f2;
}

.social-media .youtube{
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}
.social-media .youtube i,
.social-media .youtube a{
    background-color: #ff0000;
}

.social-media .linkedin{
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}
.social-media .linkedin i,
.social-media .linkedin a{
    background-color: #0077b5;
}

/* End Social Media Widget */
/* End Wrapper */
/* Start Projects Table */
.projects .responsive-table{
    overflow-x: auto;
}
.projects table{
    min-width: 1000px;
    border-spacing: 0
}
.projects table thead th{
    background-color: #eee;
}
.projects table thead th,
.projects table tbody td{
    padding: 15px;
}
.projects table tbody tr td{
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee; 
    transition: 0.3s;
}
.projects table tbody tr:hover td{
    background-color: #faf7f7;
}
.projects table tbody tr td:last-child{
    border-right: 1px solid #eee;
}
.projects table img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    padding: 2px;
}
.projects table img:not(:first-child){
    margin-left: -20px;
}
/* End Projects Table */
/* Start Settings Page */
.settings-page{
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
    .settings-page{
        grid-template-columns: minmax(100px, 1fr);
        margin-right: 10px;
        margin-left: 10px;
        gap: 10px;
    }
}
/* Start Site Control Widget */
.settings-page .close-message{
    resize: none;
    min-height: 150px;
    border: 1px solid #eee;
}

/* Start Toggle Checkbox  */
.toggle-checkbox{
    -webkit-appearance: none;
    appearance: none;
}
.toggle-switch{
    background-color: #CCC;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}
.toggle-switch::before{
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch{
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before{
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    left: 50px;
    color: var(--blue-color);
}
/* End Toggle Checkbox  */
/* End Site Control Widget */

/* End Settings Page */
/* End Content */
/* Start Animation */
@keyframes change-color {
    from{
        background-color: var(--blue-color);
    }
    to{
        background-color: white;
    }
}
/* End Animation */
